.Litem{
    text-align: center;
}
.Litems{
    padding: 0.5rem;
}
.Leftsec{
    background-color: white;
}
.Rsec{
    background-color: white;
}
.rightf{
    /* margin-left: 50%; */
    margin-top: 30px;
    text-align: center;
    font-family: 'Gentium Book Basic', serif;
}
.group{
    margin-top: 25px;
    margin-left: 200px;
    margin-right: 200px;
}
.Leftlink{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.composer{
    background-color: black;
    color: white;
}
@media (max-width:1000px){
    .Leftsec{
        display: none;
    }
    .proimg{
        width: 15%;
    }
}